.pet-profile-container {
  padding: 20px;
}

.pet-image-container {
  background-color: var(--background-color);
  width: 50%;
}

.pet-profile-image {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.pet-img {
  width: 100%;
  height: 300px;
}

.profile-favorite-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-favorite-btn:hover {
  background-color: #f0f0f0;
}

.previous-image {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.next-image {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-number {
  background-color: #ffffff;
  padding: 0.2rem 0.8rem;
  border-radius: 16px;
  position: absolute;
  right: 12px;
  top: 85%;
}

.post-preview {
  width: fit-content;
}

.image-row {
  display: flex;
  gap: 0.75rem;
  border-radius: 8px;
}

.thumb-img {
  width: 60px;
  height: 60px;
  border-radius: 0 0 8px 8px;
  /* border: 3px solid black; */
}

.post-meta {
  font-size: 0.8rem;
  color: #605454;
}
